/* Bestämmer hur stora kolumnerna får vara samt raderna och att de ska upprepas */
.container {
  display: grid;
  grid-template-columns: 200px repeat(4, 1fr);
  grid-template-rows: repeat(20, 1fr);
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

/* Här ger jag klädesplaggen också bestämt på hur stora de ska var och att de ska repeteras. Samt hur stort mellanrum mellan varje */
.plagg {
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(4, 2fr);
  grid-gap: 3px;
  height: 100vh;
  width: 100%;
  padding: 0px;
  margin: 0px;
}

header {
  background-color: rgb(45, 105, 221);
  padding: 10px;
  grid-column: 2/6;
  grid-row: 1/4;
}

#topbar {
  background-color: rgb(0, 139, 229);
}

.search-btn {
  background-image: url(../images/glas.jpg);
  background-size: cover;
}

.nav {
  padding: 20px;
  grid-column: 2/6;
  grid-row: 4/7;
  display: inline-block;
}

.sidonav {
  grid-column: 1/2;
  grid-row: 1/21;
}

section {
  padding: 20px;
  grid-column: 2/6;
  grid-row: 7/20;
}

/* Här lägger jag en bakgrundsbild bakom själva section och navigation */
.bakgrund {
  grid-column: 2/6;
  grid-row: 4/20;
  background-image: url(../images/bakom1.jpg);
  background-size: cover;
}

footer {
  padding: 20px;
  background-color: rgb(85, 85, 85);
  grid-column: 2/6;
  grid-row: 20/21;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

@media only screen and (max-width: 1131px) {
  #rubrik {
    font-size: 28px;
  }
}

@media only screen and (max-width: 990px) {
  #rubrik {
    font-size: 28px;
  }

  .search-field {
    width: 290px;
  }
}

@media only screen and (max-width: 800px) {
  .search-field {
    width: 250px;
  }
}

@media only screen and (max-width: 750px) {
  .search-field {
    width: 220px;
  }

  #topbar {
    display: flex;
  }
}

@media screen and (max-width: 667px) {
  header {
    display: table;
    grid-column: 2/6;
    grid-row: 1/5;
  }

  section {
    grid-column: 2/6;
    grid-row: 7/20;
    padding-top: 0;
  }

  .plagg {
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
  }

  .nav {
    grid-column: 2/6;
    grid-row: 5/6;
    padding: 0;
  }

  div.bakgrund {
    grid-column: 2/6;
    grid-row: 5/20;
  }

  #topbar {
    display: inline;
  }

  .search-field {
    width: 130px;
    vertical-align: bottom;
  }

  .search-btn {
    height: 55px;
    width: 55px;
    vertical-align: bottom;
  }

  #rubrik {
    font-size: 30px;
    margin: 0;
  }

  #nyheter {
    font-size: 26px;
    text-align: center;
  }

  #manlig {
    font-size: 26px;
    text-align: center;
  }

  #kvinnlig {
    font-size: 26px;
    text-align: center;
  }

  #barnsligt {
    font-size: 26px;
    text-align: center;
  }

  #kundkorg {
    height: 55px;
    width: 45px;
    vertical-align: bottom;
    margin: 0;
  }

  #sidebar a {
    font-size: 16px;
  }

  .container {
    grid-template-columns: 95px repeat(4, 1fr);
  }

  footer {
    padding: 10px;
  }

  .footer {
    font-size: 16px;
    float: none;
  }

  .categories {
    width: 90%;
  }
}

.categories {
  margin: 0px;
  padding: 0px;
  display: inline-grid;
  grid-gap: 5px;
  height: 80px;
  width: 88%;
}

#man {
  grid-column: 2/3;
  grid-row: 1/1;
}

#kvinna {
  grid-column: 4/5;
  grid-row: 1/1;
}

#barn {
  grid-column: 6/7;
  grid-row: 1/1;
}
