body {
  padding: 0px;
  margin: 0px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

/* Gör så att det finns en scroll i section som är max 200vh */
section {
  overflow: auto;
  max-height: 200vh;
}

#rubrik {
  font-family: "Comic Sans MS", sans-serif;
  font-size: 40px;
  display: inline-block;
  padding-right: 12px;
  padding-left: 8px;
  text-decoration: none;
  color: #FFF;
  margin: 0;
}

#kundkorg {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: 5px;
  border: none;
}

#topbar {
  display: flex;
  align-items: center;
  color: #FFF;
}

.nav {
  justify-content: center;
  font-size: 30px;
  border-bottom: 1px solid #000;
}

.openbtn {
  cursor: pointer;
  font-size: 200%;
}

.closebtn {
  top: 0;
  font-size: 36px;
  margin-left: 70%;
  border-width: 4px;
  text-align: center;
}

/* Stylar sökrutan längst upp på sidan och bestämmer hur den ska visas */
.search-field {
  height: 35px;
  width: 450px;
  font-size: 18px;
  border: none;
  padding: 10px;
  outline: none;
  display: inline-block;
}

.search-btn {
  height: 55px;
  width: 55px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  display: inline-block;
}

.form {
  display: inline-block;
}

.kategorier {
  border: 2px solid #000;
  text-align: center;
  align-self: center;
  height: 40px;
}

#man {
  border: 2px solid #000;
  text-align: center;
  align-self: center;
  height: 40px;
}

/* Gör så att när man håller musen över så blir texten tjock och i större skala */
#man:hover {
  font-weight: bold;
  transform: scale(1.1);
}

#kvinna {
  border: 2px solid #000;
  text-align: center;
  align-self: center;
  height: 40px;
}

/* Gör så att när man håller musen över så blir texten tjock och i större skala */
#kvinna:hover {
  font-weight: bold;
  transform: scale(1.1);
}

#barn {
  border: 2px solid #000;
  text-align: center;
  align-self: center;
  height: 40px;
}

/* Gör så att när man håller musen över så blir texten tjock och i större skala */
#barn:hover {
  font-weight: bold;
  transform: scale(1.1);
}

a:link {
  text-decoration: none;
  color: #000;
}

#nyheter {
  font-size: 32px;
  text-align: center;
}

#manlig {
  font-size: 32px;
  text-align: center;
}

#kvinnlig {
  font-size: 32px;
  text-align: center;
}

#barnsligt {
  font-size: 32px;
  text-align: center;
}

.plagg {
  justify-items: center;
}

/* Gör så att listorna jag har, som är kläderna, inte är numrerade eller har prickar */
li {
  list-style-type: none;
}

.undertext {
  text-align: center;
}

.footer {
  float: right;
  font-size: 20px;
  color: #FFF;
}

img.klader {
  border: 3px solid #000;
}

.barn {
  border: 3px solid #000;
}

#sidebar {
  margin: 0;
  padding: 0;
  font-size: 20px;
  transition: 0.5s;
}

/* När man klickat på länken så blir den länken i blåaktig färg */
#sidebar a.active {
  background-color: rgb(0, 139, 229);
  color: #FFF;
}

/* När länken inte är aktiv och man håller musen över så blir den gråakig */
#sidebar a:hover:not(.active) {
  background-color: rgb(85, 85, 85);
  color: #FFF;
}

#sidebar a {
  display: block;
  color: #000;
  padding: 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidorub {
  margin: 8px;
  font-style: italic;
  font-size: 14px;
  color: rgb(150, 147, 147);
}

div.sidebar {
  padding: 1px 16px;
}

a:visited {
  text-decoration: none;
  color: #000;
}

/* Stylar knappen längst ner vid klädesplaggen */
#myBtn {
  border: none;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  cursor: pointer;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
  float: right;
}
